<div class="container c-wrapper">
    <div class="row">
      <div class="col-12">
        <div class="title text-center">
            <h1 class="rich-text__heading rte inline-richtext h1">{{ section.settings.h2}}</h1>
         </div>
      </div>
    </div>
  <div class="row p-0">
     <div class="col-md-6 p-0 co-12">
       <div class="singel-image">
        {{ section.settings.img | image_url: width: 3840 | image_tag:
            loading: 'lazy',
            height: height,
            sizes: "100vw",
format: 'webp',
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
          }}
       </div>
     </div>
     <div class="col-md-6 p-0 col-12">
       <div class="row m-0">

            <div class="col-md-6 col-12 p-0">
                    <div class="singel-image">
                    {{ section.settings.img1 | image_url: width: 3840 | image_tag:
                        loading: 'lazy',
                        height: height,
                        sizes: "100vw",
                    format: 'webp',
                        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                    }}
                </div>
            </div>
      
         <div class="col-md-6 col-12 p-0">
            <div class="singel-image">
                {{ section.settings.img2 | image_url: width: 3840 | image_tag:
                    loading: 'lazy',
                    height: height,
                    sizes: "100vw",
                format: 'webp',
                    widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                }}
            </div>
         </div>

       </div>
       <div class="row m-0">

            <div class="col-md-6 col-12 p-0">
                    <div class="singel-image">
                    {{ section.settings.img1 | image_url: width: 3840 | image_tag:
                        loading: 'lazy',
                        height: height,
                        sizes: "100vw",
                    format: 'webp',
                        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                    }}
                </div>
            </div>
      
         <div class="col-md-6  col-12 p-0">
            <div class="singel-image">
                {{ section.settings.img2 | image_url: width: 3840 | image_tag:
                    loading: 'lazy',
                    height: height,
                    sizes: "100vw",
                format: 'webp',
                    widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
                }}
            </div>
         </div>

       </div>
     
     

      </div>
 </div>
</div>

{% schema %}
    {
        "name": "Image Slide",
        "class": "image",
        "settings": [
            {
                "type": "text",
                "id": "h2",
                "label": "section tile",
                "default": "Double room in lovely apartment"
            },
           {
            "type": "image_picker",
            "id": "img",
            "label": "Select your Image"
           },
           {
            "type": "image_picker",
            "id": "img1",
            "label": "Select your Image"
           },
           {
            "type": "image_picker",
            "id": "img2",
            "label": "Select your Image"
           },
           {
            "type": "image_picker",
            "id": "img3",
            "label": "Select your Image"
           },
           {
            "type": "image_picker",
            "id": "img4",
            "label": "Select your Image"
           }
        ]   ,
        "presets": [
            {
              "name": "Image Slide"
            }
            ]
    }
{% endschema %}



<style>
    .c-wrapper img {
        max-width: 100%;
        border-radius: 20px;
        width: 100%;
    }
   .singel-image{
    margin: 5px;
    overflow: hidden;
}
</style>